{% extends 'base.html.twig' %}

{% block title "Comment" %}

{% block body %}
    <section class="forum">
        <div class="services container-fluid">
            <p class="title">Nos Services</p>
            <ul class="list-group">
                {% for service in services %}
                    <li class="list-group-item">
                        <a href="{{ path('forum.show', { service_id: service.id }) }}">{{ service.name }} ({{ postsCount[service.id] }})</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="add-post">
                <a href="{{ path('post.create') }}"><i class="bi bi-plus-circle"></i>Ajouter un post</a>
            </p>
        </div>
        <div class="container-fluid discussion">
            <div class="post">
                <p class="title">{{ post.title }}<span class="nb-comments">{{ commentsCount }} Commentaire{% if commentsCount > 1 %}s{% endif %}</span></p>
                <p class="content">{{ post.content }}</p>
                <div class="post-info">
                    <p class="owner">
                        <i class="bi bi-person"></i>
                        {{ post.owner.username | capitalize }}
                    </p>
                    <div class="add-comment">
                        <a href="{{ path('comment.create', { post_id: post.id }) }}" class="btn btn-primary">Ajouter un commentaire</a>
                    </div>
                    <p class="date">
                        {{ post.createdAt|date('d/m/Y, H:i') }}
                    </p>
                </div>
            </div>
            <div class="comments">
                <h3>Commentaires</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <p class="owner">{{ comment.owner.username | capitalize }}</p>
                        <p class="content">{{ comment.content }}</p>
                        <p class="date">{{ comment.createdAt|date('d/m/Y, H:i') }}</p>
                    </div>
                {% else %}
                    <p class="no-content">Aucun commentaire sur ce post.</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
